<form [formGroup]="formGroup" (submit)="onFormSubmit()">
    <div>
        <label>Name: </label>
        <input type="text" formControlName="name" />
        <div >{{ formGroup.get('name')?.value | formControlErrorMessage  }}</div>
    </div>
    <div>
        <label>Image URL: </label>
        <input type="text" formControlName="imageUrl" value="{{ formGroup.get('imageUrl')?.value | lowercase }}" />
    </div>
    <div>
        <label>Category ID: </label>
        <input type="text" formControlName="categoryId" />
    </div>
    <div>
        <label>Supplier ID: </label>
        <input type="text" formControlName="supplierId" />
    </div>
    <div>
        <label>Quantity Per Unit: </label>
        <input type="text" formControlName="quantityPerUnit" />
    </div>
    <div>
        <label>Unit Price: </label>
        <input type="text" formControlName="unitPrice" value="{{ formGroup.get('unitPrice')?.value.substring(1) | currency:'USD':'symbol':'1.2-2' }}" />
    </div>
    <div>
        <label>Units In Stock: </label>
        <input type="text" formControlName="unitsInStock" />
    </div>
    <div>
        <label>Units On Order: </label>
        <input type="text" formControlName="unitsOnOrder" />
    </div>
    <div>
        <label>Reorder Level: </label>
        <input type="text" formControlName="reorderLevel" />
    </div>
    <div>
        <label>Discontinued: </label>
        <input type="text" formControlName="discontinued" />
    </div>
    <button type="submit">Edit</button>
</form>
